*,*:before,*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: rgb(34, 32, 32);
}

.container {
    width: 40%;
    min-width: 450px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 30px;
    padding: 30px 40px;
}

#newtask {
    position: relative;
    background-color: #fff;
    padding: 30px 20px;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
}

#newtask input {
    width: 70%;
    height: 45px;
    font-family: monospace;
    font-size: 15px;
    border: 2px solid #d1d3d4;
    padding: 12px;
    color: #111;
    font-weight: 500;
    position: relative;
    border-radius: 5px;
    transition: .3s;
}

#newtask input:focus {
    outline: none;
    border-color: #8052ec;
}

#newtask button {
    position: relative;
    float: right;
    width: 20%;
    height: 45px;
    border-radius: 5px;
    font-family: monospace;
    font-weight: 500;
    font-size: 16px;
    background: #8052ec;
    border: none;
    color: #fefefe;
    cursor: pointer;
    outline: none;
    transition: .3s;
}

#newtask button:hover {
    background: #4caf50;
}

#tasks {
    background: #fefefe;
    padding: 30px 20px;
    margin-top: 60px;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
    width: 100%;
    position: relative;

    display: none;
}

.task {
    background: #fefefe;
    height: 50px;
    padding: 5px 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #d2d3d4;
    cursor: pointer;
}

.task span {
    font-family: monospace;
    font-size: 15px;
    font-weight: 400;
    max-width: 85%;
}

.task button {
    background: #8052ec;
    color: #fefefe;
    height: 100%;
    width: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: none;
    transition: .3s;
}

.task button:hover {
    background: #f44336;
}

.task button i {
    font-size: 2rem;
}

.completed {
    text-decoration: line-through;
}

.container_functions {
    position: relative;
    background: #fefefe;
    margin: 15px;
    border-radius: 5px;
    padding: .5rem;
}

#qtdItems {
    font-size: 1.2rem;
    color: #fefefe;
}

.container_functions {
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.418);
    background: rgba(242, 242, 242, 0.765);
    display: flex;
    justify-content: space-around;
}

.info_list {
    background: rgba(48, 46, 46, 0.63);
    padding: .3rem;
    border-radius: 5px;
}

.info_list {
    font-family: monospace;
}

.content_functions {
    background: rgba(48, 46, 46, 0.63);
    padding: .3rem;
    display: flex;
    align-items: center;
    align-items: center;
    color: #fefefe;
    font-family: monospace;
    font-size: 1.6rem;
    border-radius: 5px;
    gap: .5rem;
    cursor: pointer;
    transition: .3s;
}

.content_functions:hover {
    background: rgb(193, 21, 21);
}